.DS_Store
node_modules/
server/node_modules
server/.wrangler/
server/wrangler.toml
server/.dev.vars*
!server/.dev.vars.example
*.p8
*.pem
*.key
ios/project.yml
ios/*.xcodeproj/
ios/build/
ios/DerivedData/
ios/Resources/*/Info.plist
ios/Resources/*/*.entitlements
*.xcuserstate
xcuserdata/
*.xcresult/
